# To store on same repo as reports-group/codacy-uploader-action action if doable !
name: 'Codacy report groups upload'
on:
  workflow_call:
    inputs:
      artifacts-pattern:
        required: true
        type: string
      run-id:
        description: |
          The id of the workflow run where the artifacts were uploaded from (default to current run).
          In case artefacts have been uploadded from another run, this input must be filled with original workflow !
        required: false
        default: "${{ github.run_id }}"
        type: string
      override-commit:
        description: Force the commit linked to the uploaded reports
        required: false
      follow-symbolic-links:
        description: Indicates whether to follow symbolic links when resolving groups path
        default: 'false'

    secrets:
      PROJECT_TOKEN:
        required: true
    outputs:
      groups:
        description: TODO
        value: ${{ jobs.upload.outputs.groups }}
      reports:
        description: TODO
        value: ${{ jobs.upload.outputs.reports }}

jobs:
  upload:
    name: Upload all reports
    runs-on: ubuntu-latest
    outputs:
      groups: ${{ steps.upload.outputs.groups }}
      reports: ${{ steps.upload.outputs.reports }}
    permissions:
      contents: read
      checks: write # For the check run creation !
    steps:
      # @TODO move actions to a dedicated repo and remove the checkout
      - uses: actions/checkout@v4
        with:
          path: custom-action-repo

      - uses: ./custom-action-repo/.github/actions/reports-group/attach-check-run-to-triggering-workflow-action
        if: ${{ 'workflow_run' == github.event_name }}
        with:
          github-token: ${{ github.token }}
          job-status: ${{ job.status }}

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.artifacts-pattern }}
          path: job-artifacts
          github-token: ${{ github.token }} # Required in order to use `run-id` parameter !
          run-id: ${{ inputs.run-id }} # Required in case workflow is executed from another run (e.g. `workflow_run`)

      - name: Upload all reports
        id: upload
        uses: ./custom-action-repo/.github/actions/reports-group/codacy-uploader-action
        with:
          path: job-artifacts
          project-token: ${{ secrets.PROJECT_TOKEN }}
          override-commit: ${{ inputs.override-commit }}
          follow-symbolic-links: ${{ inputs.follow-symbolic-links }}

      - name: DEBUG
        run: |
          echo 'outputs='"'"'${{ toJson(steps.upload.outputs) }}'"'"
