# To store on same repo as reports-group/codacy-uploader action if doable !
name: 'Codacy report groups upload'
on:
  workflow_call:
    inputs:
      artifacts-pattern:
        required: true
        type: string
      run-id:
        description: |
          The id of the workflow run where the artifacts were uploaded from (default to current run).
          In case artefacts have been uploadded from another run, this input must be filled with original workflow !
        required: false
        default: "${{ github.run_id }}"
        type: string
    secrets:
      PROJECT_TOKEN:
        required: true
    outputs:
      groups:
        description: TODO
        value: ${{ jobs.upload.outputs.groups }}
      reports:
        description: TODO
        value: ${{ jobs.upload.outputs.reports }}

# @TODO Investigate: `workflow_run` don't create a status check on the related PR !
# Would it be handy/secure/not to complex to create a reports-group/check-run-from-workflow-run which:
# - Would need to be added as first workflow wtep in order to create a `in-progress` check-run with all info fetched from the triggering workflow
#   - Add a `fails-on-caller-failure` option which would create `failed` check-run and exit with an error ? (a bit more handy than end-user having to check it)
# - Would update the check-run during post-process with the current status of the triggered workflow
jobs:
  upload:
    name: Upload all reports
    runs-on: ubuntu-latest
    outputs:
      groups: ${{ steps.upload.outputs.groups }}
      reports: ${{ steps.upload.outputs.reports }}
    permissions:
      contents: read
      checks: write # For the check run creation !
    steps:
      # @TODO move actions to a dedicated repo and remove the checkout
      - uses: actions/checkout@v4
        with:
          path: custom-action-repo

      - uses: ./custom-action-repo/.github/actions/reports-group/attach-check-run-to-triggering-workflow-action
        with:
          name: "${{ github.workflow }} (${{ github.event.workflow.name}}) / Codacy / Upload all reports"
          commit-sha: "${{ ('workflow_run' == github.event_name && ('pull_request' == github.event.workflow_run.event || 'push' == github.event.workflow_run.event) && github.event.workflow_run.head_sha) || ('pull_request' == github.event_name && github.event.pull_request.head.sha) || ('push' == github.event_name && github.sha) || null }}"
          github-token: ${{ github.token }}
          status: queued

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.artifacts-pattern }}
          path: job-artifacts
          github-token: ${{ github.token }} # Required in order to use `run-id` parameter !
          run-id: ${{ inputs.run-id }} # Required in case workflow is executed from another run (e.g. `workflow_run`)

      - name: Upload all reports
        id: upload
        uses: ./custom-action-repo/.github/actions/reports-group/codacy-uploader
        with:
          path: job-artifacts
          project-token: ${{ secrets.PROJECT_TOKEN }}

      - name: DEBUG
        run: |
          echo 'outputs='"'"'${{ toJson(steps.upload.outputs) }}'"'"
