name: 'Coverage upload'
on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
  codacy-uploader:
    name: Codacy
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/codacy-upload-from-artifacts.yml
    with:
      artifacts-pattern: coverage-groups-*
      run-id: ${{ github.event.workflow_run.id }}
    secrets:
      PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  codecov-uploader:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Codecov
    uses: ./.github/workflows/codecov-upload-from-artifacts.yml
    with:
      artifacts-pattern: coverage-groups-*
      run-id: ${{ github.event.workflow_run.id }}
    secrets:
      TOKEN: ${{ secrets.CODECOV_TOKEN }}

  debug-uploads:
    name: DEBUG - Uploaders
    runs-on: ubuntu-latest
    needs: [ codacy-uploader, codecov-uploader ]
    steps:
      - run: echo 'codecov='"'"'${{ toJson(needs.codecov-uploader) }}'"'"
      - run: echo 'codacy='"'"'${{ toJson(needs.codacy-uploader) }}'"'"
