name: 'CI reusable workflow'

on:
  workflow_call:

permissions:
  contents: read

env:
  COMPOSER_PREFER_STABLE: '1'
  TEST_OUTPUT_STYLE: pretty
  SUPPORTED_VERSIONS_FILE_PATH: .supported-versions.json

jobs:
  fetch-supported-versions:
    name: Fetch supported versions
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      php-min: ${{ steps.fetch-php-versions.outputs.min }}
      php-max: ${{ steps.fetch-php-versions.outputs.max }}
      php-next: ${{ steps.fetch-php-versions.outputs.next }}
    steps:
      - name: Fetch supported versions file
        id: fetch-file
        uses: yoanm/gha-supported-versions-parser/github-downloader@v1
        with:
          file-path: ${{ env.SUPPORTED_VERSIONS_FILE_PATH }}

      - name: Fetch PHP supported versions
        id: fetch-php-versions
        uses: yoanm/gha-supported-versions-parser@v1
        with:
          path: ${{ steps.fetch-file.outputs.path }}
          dependency: php

  tests:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.job-name }}
    needs: [fetch-supported-versions]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      COVERAGE_TYPE: none
      COVERAGE_OUTPUT_STYLE: clover
    strategy:
      fail-fast: true
      matrix:
        include:
          - job-name: Up to date versions # => Highest versions allowed by composer config
            php-version: '${{ needs.fetch-supported-versions.outputs.php-max }}'
          - job-name: Bare minimum # => Lowest versions allowed by composer config
            php-version: '${{ needs.fetch-supported-versions.outputs.php-min }}'
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      # Enable coverage only for specific version(s) !
      # Usually highest version(s), plus additional ones in case of code used only with specific versions
      - name: Enable coverage
        if: ${{ matrix.php-version == needs.fetch-supported-versions.outputs.php-max }}
        run: |
          echo "COVERAGE_TYPE=xdebug" >> $GITHUB_ENV

      - name: Setup PHP ${{ matrix.php-version }}
        id: setup-php
        uses: shivammathur/setup-php@v2
        env:
          update: true # whether to use latest available patch for the version or not
          fail-fast: true # step will fail if an extension or tool fails to set up
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: ${{ env.COVERAGE_TYPE }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Setup cache for PHP ${{ steps.setup-php.outputs.php-version }}
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.composer-cache.outputs.dir }}
          # Clear the cache if composer.json (as composer.lock is not available) has been updated
          key: tests-php${{ steps.setup-php.outputs.php-version }}-${{ hashFiles('composer.json', env.SUPPORTED_VERSIONS_FILE_PATH) }}

      - name: Build with PHP ${{ steps.setup-php.outputs.php-version }}
        run: make build

      - name: Tests
        run: make test-unit && make test-functional

      - name: Create "unit tests" reports group
        if: ${{ env.COVERAGE_TYPE == 'xdebug' }}
        uses: yoanm/temp-reports-group-workspace/create-group@v0
        with:
          name: unit-tests
          format: clover
          files: build/coverage-phpunit/unit.clover
          flags: |
            unit-tests
            php-${{ matrix.php-version }}
          path: build/coverage-groups

      - name: Create "functional tests" reports group
        if: ${{ env.COVERAGE_TYPE == 'xdebug' }}
        uses: yoanm/temp-reports-group-workspace/create-group@v0
        with:
          name: functional-tests
          format: clover
          files: |
            build/coverage-phpunit/functional.clover
            build/coverage-behat/clover.xml
          flags: |
            functional-tests
            php-${{ matrix.php-version }}
          path: build/coverage-groups

      - name: Upload coverage reports
        if: ${{ env.COVERAGE_TYPE == 'xdebug' }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage-groups-php${{ steps.setup-php.outputs.php-version }}
          path: build/coverage-groups
          if-no-files-found: error

  static-checks:
    name: Static analysis
    needs: [fetch-supported-versions]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      PHP_VERSION: ${{ needs.fetch-supported-versions.outputs.php-max }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup PHP ${{ env.PHP_VERSION }}
        id: setup-php
        uses: shivammathur/setup-php@v2
        env:
          update: true # Always use latest available patch for the version
          fail-fast: true # step will fail if an extension or tool fails to set up
        with:
          php-version: ${{ env.PHP_VERSION }}
          tools: composer
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Setup cache for PHP ${{ steps.setup-php.outputs.php-version }}
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.composer-cache.outputs.dir }}
          # Clear the cache if composer.json (as composer.lock is not available) has been updated
          key: tests-php${{ steps.setup-php.outputs.php-version }}-${{ hashFiles('composer.json', env.SUPPORTED_VERSIONS_FILE_PATH) }}

      - name: Build with PHP ${{ steps.setup-php.outputs.php-version }}
        run: make build

      - name: ComposerRequireChecker
        uses: docker://webfactory/composer-require-checker:4.5.0

      - name: Dependencies check
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/dependency-review-action@v4

  nightly-tests:
    name: Nightly PHP ${{ needs.fetch-supported-versions.outputs.php-next }}
    needs: [ fetch-supported-versions, tests ]
    if: ${{ github.event_name == 'push' || ( github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'with-nightly-tests') ) }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    continue-on-error: true
    env:
      COMPOSER_IGNORE_PLATFORM_REQ: 'php+'
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Setup PHP ${{ needs.fetch-supported-versions.outputs.php-next }}
        id: setup-php
        uses: shivammathur/setup-php@v2
        env:
          update: true # whether to use latest available patch for the version or not
          fail-fast: true # step will fail if an extension or tool fails to set up
        with:
          php-version: ${{ needs.fetch-supported-versions.outputs.php-next }}
          tools: composer
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Setup cache for PHP ${{ steps.setup-php.outputs.php-version }}
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.composer-cache.outputs.dir }}
          # Clear the cache if composer.json (as composer.lock is not available) has been updated
          key: tests-php${{ steps.setup-php.outputs.php-version }}-${{ hashFiles('composer.json', env.SUPPORTED_VERSIONS_FILE_PATH) }}

      - name: Build with PHP ${{ steps.setup-php.outputs.php-version }}
        run: make build

      - name: Test
        run: make test-unit && make test-functional
